{
  "parser": "babel-eslint",
  "extends": [
    "bliss",
    "prettier",
    "prettier/flowtype"
  ],
  "rules": {
    "class-methods-use-this": "off",
    "fp/no-mutation": "off",
    "fp/no-rest-parameters": "off",
    "fp/no-this": "off",
    "fp/no-loops": "off",
    "fp/no-let": "off",
    "fp/no-throw": "off",
    "fp/no-class": "off"
  }
}
